@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --lead_color: #4A3D3A;
    --accent_color: #C31C2C;
    scroll-behavior: smooth;
}
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Exo 2';
    font-style: normal;
    font-size: calc( 4px + 11 * ( 100vw / 1920 ) );
    line-height: calc( 4px + 25 * ( 100vw / 1920 ) );
    font-weight: 400;
    color: var(--lead_color);
    background: #F5F5F5;
}
header {
    position: absolute;
    top: 0;
    width: 80%;
    padding: 0 10% 0 10%;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    color: var(--lead_color);
    text-decoration: none;
}
a:hover , a:active , a:checked {
    color: var(--accent_color);
}

/* Menu */
header ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}
header ul li {
    margin-right: 3.31%;
    list-style: none;
    z-index: 7;
}
header ul li a {
    font-size: calc( 4px + 11 * ( 100vw / 1920 ) );
    font-weight: 500;
    color: var(--lead_color);
    text-decoration: none;
}
#logo_header {
    height: 4.89em;
    margin-top: 1em;
    padding-right: 3.36em;
}
#menu__toggle, .menu__btn {
    display: none;
}

/* Lead screen */
#lead {
    height: 100vh;
    background: url(images/background_lead.jpg) no-repeat center /cover;
}
#lead div:first-child {
    position: absolute;
    top: 31.55%;
    left: 15.96%;
}
#lead div h1 {
    font-size: calc( 5px + 35 * ( 100vw / 1920 ) );
    line-height: calc( 10px + 70 * ( 100vw / 1920 ) );
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}
#lead div:last-child {
    position: absolute;
    width: 100%;
    height: 18.2%;
    bottom: 0;
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

/* First screen */
#first {
    height: 43.86em;
    position: relative;
    margin-bottom: 4.88%;
    background: url(images/background_first.jpg) no-repeat center right /66.15%;
}
#intro {
    width: 28.79%;
    height: 131.88%;
    position: absolute;
    top: -46.5%;
    left: 12.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    padding: 2.44% 2.93% 3.42% 3.66%;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(90, 81, 75, 0.9) 53.41%, rgba(255, 255, 255, 0.9) 100%);
    border-radius: 5px;
    color: #ffffff;
}
#intro > div:first-child {
    font-size: calc( 1px + 24 * ( 100vw / 1920 ) );
    line-height: calc( 2px + 43 * ( 100vw / 1920 ) );
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
}
#intro > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#intro > div:nth-child(2) img {
    height: 3.83em;
}
@media screen and (max-width: 1080px) {
    #intro > div:nth-child(2) img {
        height: 2.5em;
    }
}
#intro > div:nth-child(4) {
    display: flex;
    align-items: flex-end;
}
#intro > div:nth-child(4) img {
    width: 70.73%;
}
#intro > div:nth-child(4) div p {
    font-style: italic;
    font-size: calc( 2px + 19 * ( 100vw / 1920 ) );
    line-height: calc( 3px + 30 * ( 100vw / 1920 ) );
    font-weight: 400;
    text-transform: uppercase;
    color: var(--accent_color);
    margin: 0 0 0 16px;
}
.background_first_mobile {
    display: none;
}

/* Menu brand selection */
.menu_brand_select {
    background: url(images/background_menu_brand.png) no-repeat;
    background-size: cover;
}
.menu_brand_select nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2.93% 0 4.88% 0;
}
.menu_brand_select nav ul li:first-child {
    margin-right: 8.3%;
}
.menu_brand_select nav ul li {
    width: 14.7%;
    margin-left: -4.24%;
    font-size: calc( 4px + 21 * ( 100vw / 1920 ) );
    line-height: calc( 19px + 40 * ( 100vw / 1920 ) );
    list-style-type: none;
    text-align: center;
}
.menu_brand_select nav ul li:nth-child(2) {
    background: linear-gradient(270deg, #C1BBB8 27.44%, rgba(193, 187, 184, 0) 100%);
    border-radius: 0px 30px 0px 0px;
    z-index: 5;
} 
.menu_brand_select nav ul li:nth-child(3) {
    background: #B4BFCA;
    border-radius: 0px 30px 0px 0px;
    z-index: 4;
}
.menu_brand_select nav ul li:nth-child(4) {
    background: #B4C0BC;
    border-radius: 0px 30px 0px 0px;
    z-index: 3;
}
.menu_brand_select nav ul li:nth-child(5) {
    background: #B5BCCC;
    border-radius: 0px 30px 0px 0px;
    z-index: 2;
}
.menu_brand_select nav ul li a {
    margin-left: 20.24%;
}
.brand_screen {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(279.85deg, #CEC5BE 0%, rgba(206, 197, 190, 0) 100%) ;
}
.brand_screen > div:first-child {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2.44% 21.91% 2.44% 2.44%;
    background-color: #ffffff;
    box-sizing: border-box;
    z-index: 2;
}
.brand_screen > div:first-child p {
    margin: 0;
}
.brand_screen > div:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.brand_screen > div:nth-child(2) > div:first-child {
    width: 57.78%;
    height: 42.4em;
    background: url(images/background_brand_screen.jpg) no-repeat center /cover;
    position: relative;
}
.brand_screen_jaguar > div:nth-child(2) > div:first-child {
    background: url(images/background_brand_screen_jaguar.jpg) no-repeat center /cover;
}
.brand_screen > div:nth-child(2) > div:first-child > div {
    background: linear-gradient(0deg, rgba(224, 219, 214, 0.96) 0%, rgba(255, 255, 255, 0.6) 100%);;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.brand_screen > div:nth-child(2) > div:first-child > div p {
    padding: 1.66% 0 1.66% 0;
    margin: 0 1% 0 28%;
}
.pop_service {
    width: 33.01%;
    background: #C0BAB7;
    border-radius: 5px 0px 0px 5px;
    padding-top: 10%;
}
.pop_service > div {
    width: 53.94%;
    margin: 11% 0 16.05% -12.13%;
}
.pop_service > div p {
    text-align: right;
    margin-bottom: 7%;
}
.pop_service > div ul {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}
.pop_service > div ul li a {
    height: 3.82em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #4A3D3A;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 5.6%;
    text-decoration: none;
}
.pop_service > div ul li a:hover {
    background: var(--accent_color);
    color: #ffffff;
}
.brand_screen > div:nth-child(3) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.4% 0 4.4% 0;
}
.brand_screen > div:nth-child(3) p {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.brand_screen > div:nth-child(3) a {
    padding: 0.63% 2.98%;
    margin: 0 0 0 5.39%;
    text-transform: uppercase;
    color: #ffffff;
    background-color: var(--accent_color);
    border-radius: 5px;
    text-decoration: none;
}
.sliderall {
    position: relative;
}
.tab-content {
    visibility: hidden;
    height: 0em !important;
}
.tab-content.active {
    visibility: visible;
    height: 100% !important;
}

/* Photo & video */
.photo_video {
    height: 49.58em;
    padding-top: 15.18%;
    position: relative;
    background-image: url(images/background_circle.png), linear-gradient(279.85deg, #CEC5BE 0%, rgba(206, 197, 190, 0) 100%);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.photo_video > img {
    width: 28.8%;
    position: absolute;
    top: 4.76%;
    left: 6.15%;
}
.photo_video > p {
    font-size: calc( 3px + 16 * ( 100vw / 1920 ) );
    text-transform: uppercase;
    position: absolute;
    left: 15.7%;
}
.center {
    width: 61.8%;
    padding: auto;
    margin: auto;
}
.center > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center .slick-active:not(.center .slick-center) {
    width: 2.7% !important;
    height: 17.04em !important;
}
.center .slick-active {
    margin: auto 0.07% auto 0.07%;
    overflow: hidden;
    background-color: black;
    border-radius: 5px;
}
.center .slick-slide:not(.center .slick-active) {
    visibility: hidden;
}
.center .slick-slide img, .center .slick-slide iframe {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.center .slick-center {
    width: 9.63% !important;
    height: 36.99em !important;
}
.center .prevar {
    position: absolute;
    cursor: pointer;
    right: 20%;
    bottom: 10%;
    z-index: 3;
}
.center .nextar {
    position: absolute;
    cursor: pointer;
    right: 15%;
    bottom: 10%;
    z-index: 3;
}

/* Car series */
.car_series {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    background: url(images/background_series_land.png), linear-gradient(279.85deg, #CEC5BE 0%, rgba(206, 197, 190, 0) 100%);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
}
.car_series_jaguar {
    background: url(images/background_series_jaguar.png), linear-gradient(279.85deg, #CEC5BE 0%, rgba(206, 197, 190, 0) 100%);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
}
.car_series > div {
    margin-top: 6.86%;
    margin-bottom: 6.86%;
    background: rgba(255, 255, 255, 0.7);
}
.car_series > div:first-child > div:nth-child(1) {
    height: 5.85em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C8C3C0;
}
.car_series > div:first-child > div:nth-child(1) > img {
    height: 4.07em;
}
.car_series > div:first-child > div:nth-child(2) {
    width: 25.55em;
}
.car_series > div:first-child > div:nth-child(2) > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 9.42%;
    margin-top: 0;
    
}
.car_series > div:first-child > div:nth-child(2) > ul li {
    width: 46.39%;
    margin-bottom: 8.7%;
    font-style: italic;
    font-weight: 700;
    font-size: calc( 2px + 11 * ( 100vw / 1920 ) );
    line-height: calc( 4px + 11 * ( 100vw / 1920 ) );
    text-transform: uppercase;
}
.car_series > div:first-child > div:nth-child(2) > ul li p {
    margin: 0;
}
.car_series > div:first-child > div:nth-child(2) > ul li p:hover {
    color: #C31C2C;
    cursor: pointer;
}
.car_series_jaguar > div:first-child > div:nth-child(2) > ul li {
    width: 30.39%;
}
.car_series > div:last-child > div:nth-child(1) {
    height: 5.85em;
    padding-left: 8.93%;
    background: #C8C3C0;
    display: flex;
    align-items: center;
}
.car_series > div:last-child > div:nth-child(1) > p {
    margin: 0;
    font-size: calc( 8px + 11 * ( 100vw / 1920 ) );
}
.car_series > div:last-child > div:nth-child(2) {
    background: linear-gradient(-270deg, rgba(255, 255, 255, 0.7) -50%, #58483E 100%);
    padding: 0 23.79em 4.13% 1.93%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.series_slider {
    width: 25.87em;
    height: 26.19em;
    margin-bottom: 0;
    text-align: center;
}
.series_slider img {
    width: 100%;
}
.series_slider div {
    color: #ffffff;
}
.slick-dotted.slick-slider {
    margin-bottom: 0px !important;
}
.series_slider .slick-dots {
    bottom: -18%;
}
.slick-dots li button::before {
    color: var(--accent_color) !important;
    font-size: calc( 2px + 8 * ( 100vw / 1920 ) ) !important ;
}
.car_series > div:last-child > div:nth-child(2) > a {
    width: 105%;
    height: 2.28em;
    font-weight: 600;
    font-size: calc( 5px + 11 * ( 100vw / 1920 ) );
    line-height: calc( 10px + 23 * ( 100vw / 1920 ) );
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--accent_color);
    background: #ffffff;
    text-align: center;
    border-radius: 5px;
}

/* Your car data */
.your_car_data {
    min-height: 46em;
    position: relative;
    background: url(images/background_your_car_data.jpg) no-repeat top 65.5% right /60.57%;
    background-color: #74675F;
}
.your_car_data div:first-child {
    width: 49.48%;
    position: absolute;
    top: 13.73em;
    left: 0px;
    padding: 2.34% 7.08% 2.34% 28.48%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.85) 30.21%, rgba(10, 9, 11, 0) 100%);
    border-radius: 5px;
    z-index: 3;
}
.your_car_data div:first-child p {
    line-height: calc( 8px + 30 * ( 100vw / 1920 ) );
    font-size: calc( 3px + 16 * ( 100vw / 1920 ) );
    text-transform: uppercase;
    text-align: center;
}
.your_car_data div:first-child a {
    padding: 0.63% 13.15%;
    margin: 0 0 0 5.39%;
    text-transform: uppercase;
    color: #ffffff;
    background-color: var(--accent_color);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: calc( 4px + 15 * ( 100vw / 1920 ) );
    line-height: calc( 10px + 40 * ( 100vw / 1920 ) );
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.your_car_data div:last-child {
    position: absolute;
    top: 8.29%;
    left: 15.96%;
    right: 15.96%;
    bottom: 13.83%;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}

/* Contacts address */
.contacts_address {
    display: flex;
    justify-content: flex-end;
    background:  url(images/background_contact_all.jpg) no-repeat left center ;
    background-size: contain;
}
.contacts_address div:first-child {
    font-size: calc( 4px + 15 * ( 100vw / 1920 ) );
    line-height: calc( 8px + 30 * ( 100vw / 1920 ) );
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.contacts_address div:first-child > img {
    margin-top: 10.49%;
    width: 100%;
}
.contacts_address div:first-child > p {
    margin: 6.38% 14.18% 0 0;
    text-align: center;
    width: 100%;
}
.contacts_address div:first-child > div {
    width: 63.26%;
}
.contacts_address div:first-child > div > div {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.contacts_address div:first-child > div > div p {
    margin: 1.1% 0 1.1% 0;
}
.contacts_address div:first-child > div > div:first-child p {
    margin: 5.88% 0 10.11% 0;
}
.contacts_address div:first-child > div > div:last-child a {
    margin-bottom: 8.52%;
}
.contacts_address > div:last-child {
    width: 53.74%;
}
.contacts_address > div:last-child iframe {
    width: 100%;
    height: 100%;
    border-radius: 25em 0px 0px 25em;
}

/* Services page */
.land_main {
    display: flex;
    flex-direction: row;
    padding: 8% 10%;
}
.services_s_choise {
    display: flex;
    flex-direction: column;
}
.dropdown_choise {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background : rgba(255, 255, 255, 0.8);
    position: relative;
    padding: 5% 5% 3% 5%;
    margin-top: 10%;
    margin-left: 2%;
    border-radius: 5px;
}
.dropdown_choise > div:first-child {
    width: 60%;
}
.dropdown_choise table {
    width: 90%;
}
.dropdown_choise th {
    width: 20%;
    text-align: left;
} 
.dropdown_choise td, .dropdown_choise td > select{
    width: 100%;
    padding: 2.8% 1%;
}
.dropdown_choise td > select {
    background: #FFFFFF;
    border: solid rgba(74, 61, 58, 1) 1px;
    border-radius: 5px;
}
.dropdown_choise > div:nth-child(2) {
    position: absolute;
    top: -15%;
    right: 7%;
    width: 32%;
}
.dropdown_choise > div:nth-child(2) img {
    border: solid 5px #FFFFFF;
    width: 100%;
}
.land_main {
    display: flex;
    background: url(images/background_land.jpg) no-repeat center /cover;
    background-attachment: fixed;
}
#services {
    display: flex;
    justify-content: flex-end;
}
#services > div {
    width: 44.76%;
    background: rgba(73, 98, 92, 0.7);
    color: #FFFFFF;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1%;
}
#services > div > p {
    padding: 0;
    margin: 0;
}

/* Services choise */
.services_array {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.services_array > div:first-child ul li {
    list-style: none;
    min-height: 2.87em;
    padding: 2.38% 5.78%;
    margin-bottom: 5px;
    background: #FFFFFF;
    border-radius: 5px;
    line-height: calc( 2px + 13 * ( 100vw / 1920 ) );
    display: flex;
    box-shadow: inset 0px 0px 10px #BAA8A4;
}
.services_array > div:first-child ul li:hover {
    background: var(--accent_color);
}
.services_array > div:first-child ul li a {
    color: #4A3D3A;
    padding: 2.68% 13.4% 2.68% 0;
}
.services_array > div:first-child ul li:hover a {
    color: #FFFFFF;
}
.services_array > div:nth-child(2) {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin: 1.75% auto 1.75% 2.19%;
}
.services_array > div:nth-child(2) > div:first-child {
    margin-right: 3.27%;
}
.services_array > div:nth-child(2) > div:nth-child(2) {
    width: 26.15em;
}
.services_array > div:nth-child(2) > div:nth-child(2) img {
    width: 100%;
}
.services_array > div:nth-child(2) table {
    border-spacing: 1.32em 1.57em;
}
.services_array > div:nth-child(2) td {
    position: relative;
}
.services_array > div:nth-child(2) select {
    width: 28.96em;
    height: 2.7em;
}

/* Service card */
.service_card {
    margin-left: 2%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.service_card > div:first-child {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px 5px 0px 0px;
}
.service_card > div:first-child > h2 {
    font-size: calc( 13px + 10 * ( 100vw / 1920 ) );
    text-transform: uppercase;
    text-align: center;
    color: #C31C2C;
    padding: 3.04%;
}
.service_card > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    padding: 2.34% 8.62% 2.34% 3.2%;
    background: #F5F3F2;
} 
.service_card > div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    padding: 2.34% 3.2% 2.34% 8.62%;
    background: #EBE8E5;
    flex-direction: row-reverse;
}
.service_card > div:nth-child(2) > p {
    margin-right: 15%;
} 
.service_card > div:nth-child(3) > p {
    margin-left: 15%;
}
.service_card > div:nth-child(2) > div:nth-child(2) , .service_card > div:nth-child(3) > div {
    width: 17%;
}
.service_card > div:nth-child(2) > div:nth-child(2) > img , .service_card > div:nth-child(3) > div > img {
    width: 100%;
}
.service_card > div:nth-child(4) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #DED7D0;
    padding: 3.2% 6.53% 3.2% 3.2%; 
}
.service_card > div:nth-child(4) p {
    margin: 0;
}
.service_card > div:nth-child(4) > p {
    font-size: calc( 14px + 11 * ( 100vw / 1920 ) );
    color: #C31C2C;    
}
.service_card > div:nth-child(5) {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0px 0px 5px 5px;
    padding: 5% 0;
    overflow: hidden;
} 
.popup_slider {
    width: 60em;
    margin-left: auto;
    margin-right: auto;
}
.popup_slider .slick-slide img {
    width: 90%;
}
.prevar_popup {
    position: absolute;
    cursor: pointer;
    left: -6.5%;
    bottom: 40%;
    z-index: 3;
}
.nextar_popup {
    position: absolute;
    cursor: pointer;
    right: -5%;
    bottom: 40%;
    z-index: 3;
}

/* Gallery */
.gallery_up {
    position: relative;
    margin-top: 7%;
    padding-bottom: 2%;
    background-image: url(/images/background_gallery.png), linear-gradient(0deg, #CEC5BE 0%, rgba(206, 197, 190, 0) 100%);
    background-repeat: no-repeat;
    background-size: auto 90%, 100%;
    background-position: center right;
    height: 18.81em;
}
.menu_brand_select_gallery nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0% 0 4.88% 0;
}
.menu_brand_select_gallery nav ul li:first-child {
    cursor: pointer;
    z-index: 7;
}
.menu_brand_select_gallery nav ul li {
    width: 14.7%;
    margin-left: -7.24%;
    font-size: calc( 4px + 21 * ( 100vw / 1920 ) );
    line-height: calc( 19px + 40 * ( 100vw / 1920 ) );
    list-style-type: none;
    text-align: center;
}
.menu_brand_select_gallery nav ul li:nth-child(2) {
    border-radius: 0px 30px 0px 0px;
    z-index: 5;
} 
.menu_brand_select_gallery nav ul li:nth-child(3) {
    border-radius: 0px 30px 0px 0px;
    z-index: 4;
}
.menu_brand_select_gallery nav ul li:nth-child(4) {
    border-radius: 0px 30px 0px 0px;
    z-index: 3;
}
.menu_brand_select_gallery nav ul li:nth-child(5) {
    border-radius: 0px 30px 0px 0px;
    z-index: 2;
}
.menu_brand_select_gallery nav ul li a {
    margin-left: 20.24%;
}
.gallery_title {
    width: 28.8%;
    margin-top: -7.76%;
    margin-left: 6.15%;
    margin-bottom: 5%;
}
.gallery_title > img {
    width: 100%;
}
.gallery_down {
    padding: 0 15% 5% 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #CEC5BE;
}
.gallery_piece {
    width: 31.46%;
    box-sizing: border-box;
    padding: 2% 2% 5% 2%;
    margin: 0 0.5% 2.7% 0.5%;
    background: #DED7D0;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}
.gallery_piece_img {
    width: 100%;
    height: 20em;
    background: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    overflow: hidden;
}
.gallery_piece_img img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.gallery_piece p {
    line-height: calc( 4px + 13 * ( 100vw / 1920 ) );
    margin-top: 2em;
    margin-bottom: 0;
}
.gallery_piece_data {
    text-align: right;
}

/* Footer */
footer {
    width: 100%;
    background: #3A312F;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
footer p:last-child {
    width: 60%;
    text-align: center;
    padding-left: 10%;
}